*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode
productapi/obj

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
apigateway/obj/Debug
apigateway/bin
apigateway/bin/Debug/netcoreapp2.1/apigateway.pdb
apigateway/bin/Debug/netcoreapp2.1/apigateway.dll
apigateway/bin/Debug/netcoreapp2.1/apigateway.deps.json
apigateway/obj/apigateway.csproj.nuget.cache
customerapi/bin/Debug/netcoreapp2.1/customerapi.dll
apigateway/bin/Debug/netcoreapp2.1/apigateway.dll
apigateway/bin/Debug/netcoreapp2.1/apigateway.pdb
apigateway/bin/Debug/netcoreapp2.1/apigateway.deps.json
apigateway/obj/apigateway.csproj.nuget.cache
apigateway/obj/project.assets.json
apigateway/obj/Debug/netcoreapp2.1/apigateway.dll
apigateway/obj/Debug/netcoreapp2.1/apigateway.pdb
apigateway/obj/Debug/netcoreapp2.1/apigateway.assets.cache
apigateway/obj/Debug/netcoreapp2.1/apigateway.csproj.CoreCompileInputs.cache
apigateway/obj/Debug/netcoreapp2.1/apigateway.csprojAssemblyReference.cache
customerapi/bin/Debug/netcoreapp2.1/customerapi.pdb
customerapi/bin/Debug/netcoreapp2.1/customerapi.deps.json
customerapi/obj/customerapi.csproj.nuget.cache
customerapi/obj/project.assets.json
customerapi/obj/Debug/netcoreapp2.1/customerapi.dll
customerapi/obj/Debug/netcoreapp2.1/customerapi.pdb
customerapi/obj/Debug/netcoreapp2.1/customerapi.assets.cache
customerapi/obj/Debug/netcoreapp2.1/customerapi.csproj.CoreCompileInputs.cache
customerapi/obj/Debug/netcoreapp2.1/customerapi.csprojAssemblyReference.cache
authserver/obj/Debug/netcoreapp2.1/project.razor.json
apigateway/bin/Debug/netcoreapp2.1/apigateway.deps.json
apigateway/bin/Debug/netcoreapp2.1/apigateway.dll
apigateway/bin/Debug/netcoreapp2.1/apigateway.pdb
apigateway/obj/apigateway.csproj.nuget.cache
apigateway/obj/project.assets.json
apigateway/obj/Debug/netcoreapp2.1/apigateway.assets.cache
apigateway/obj/Debug/netcoreapp2.1/apigateway.csproj.CoreCompileInputs.cache
apigateway/obj/Debug/netcoreapp2.1/apigateway.csprojAssemblyReference.cache
apigateway/obj/Debug/netcoreapp2.1/apigateway.dll
apigateway/obj/Debug/netcoreapp2.1/apigateway.pdb
apigateway/obj/Debug/netcoreapp2.1/project.razor.json
authserver/obj/Debug/netcoreapp2.1/netmicroservice.csprojAssemblyReference.cache
customerapi/bin/Debug/netcoreapp2.1/customerapi.deps.json
customerapi/bin/Debug/netcoreapp2.1/customerapi.dll
customerapi/bin/Debug/netcoreapp2.1/customerapi.pdb
customerapi/obj/customerapi.csproj.nuget.cache
customerapi/obj/project.assets.json
customerapi/obj/Debug/netcoreapp2.1/customerapi.assets.cache
customerapi/obj/Debug/netcoreapp2.1/customerapi.csproj.CoreCompileInputs.cache
customerapi/obj/Debug/netcoreapp2.1/customerapi.csprojAssemblyReference.cache
customerapi/obj/Debug/netcoreapp2.1/customerapi.dll
customerapi/obj/Debug/netcoreapp2.1/customerapi.pdb
customerapi/obj/Debug/netcoreapp2.1/project.razor.json
productapi/obj/Debug/netcoreapp2.1/project.razor.json
apigateway/bin/Debug/netcoreapp2.1/apigateway.deps.json
